*
{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://i.imgur.com/1tiWZal.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    
}


.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}

img
{
  position: relative;
  max-width: 20%;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-top: auto;
  height: auto;
}

table ["class=contactable"] 
{
  font-family: "Roboto", sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th ["class=contactable"]
{
  border: 1px solid #000000;
   background-color: #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) ["class=contactable"] {
  background-color: #dddddd;
}


.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    background-color:rgb(82, 82, 82);
    font-family: "Roboto", sans-serif;
}

.row
{
    max-width: 1900px;
    margin: auto;
}

.hero
{
    position: center;
	max-width: 100%;
	margin-left: auto;
	margin-top: 0 ;
	text-align: justify;
}

.container{ /* kaikkien muiden kuin etusivun sisältö*/
    min-height:390px;
    text-align:left;
    max-width:850px;
    color:rgb(255, 255, 255); /*vaihdetaan valkoiseksi kun tausta käytössä*/
    padding-left:25px;
    padding-right: 25px;
    padding-bottom:50px;
    
}

.container2{ /* historia-sivun erikoisuus*/
    min-height:300px;
    text-align:right;
    max-width:850px;
    color:rgb(255, 255, 255);
    padding-left:25px;
    padding-bottom:50px;
    
}

figure{
    display:block;
    

}

.container img{
    background-color: whitesmoke;
    max-width: 300px;
    float:right;
    margin-top:0px;
    margin-left:25px;
    margin-bottom:25px;
    padding:10px;
    
}

.container2 img{
    background-color: whitesmoke;
    max-width: 300px;
    float:left;
    margin-top:0px;
    margin-right:25px;
    margin-bottom:25px;
    padding:10px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-family:monospace;
    font-size: 50px;
	/**Lowered Font size from 70 to 50 to improve scaling.
	29.01.2020 -Patrick**/
    text-align: left;
    margin-top: 250px;
}

h2{ /*kaikkien muiden kuin etusivun otsikko*/
    font-size:46px;
    color:whitesmoke;
    padding-top:50px;
   
}

h3{ /*väliotsikot*/
    font-size:40px;
    color:whitesmoke;
    margin-top:50px;
    padding-bottom:10px;
}

.otsikko
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    margin-left: 10px;
}
/*Specific setup for staff.html's h2, 29.1.2020 -Joona*/
.button
{
    margin-top: 30px;
    margin-left: 360;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}
.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.2s ease-in;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
background-color: darkorange;
transition: all 0.2s ease-in;
}

/*Various things to optimize staff.html's table, 29.1.2020 -Joona*/

table-responsive {
 display: block;
 width: 100%;
 overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.table {
    margin: auto;
    color: white;
    border-spacing:  10px;

}
td th{
    text-align: justify;
    color: white;
}

