*
{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(business-2089534_1280.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}



.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1900px;
    margin: auto;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}
.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.2s ease-in;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
background-color: darkorange;
transition: all 0.2s ease-in;
}