*
{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(business-2089534_1280.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}



.main-nav li a:hover
{
    border: 1px solid white;
}