*
{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(business-2089534_1280.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}



.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size:16px;
}



.row
{
    max-width: 1900px;
    margin: auto;
}

.hero
{
    position: absolute;
    max-width: 830px;
    margin-left: 80px;
    margin-top: 0px;
    padding-left:20px;
    text-align:justify;
    color:white;
    
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 68px;
    text-align:justify;
    margin-top: 275px;
    padding-bottom:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.button
{
    margin-top: 100px;
    margin-left: 480px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 14px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}
.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.2s ease-in;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
background-color: darkorange;
transition: all 0.2s ease-in;
}
p
{
    font-size: 26px;
    font-family: "Times New Roman", Times, serif;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(97, 81, 97);
}
