*
{
    margin: 0;
    padding: 0;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(business-2089534_1280.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
}



.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: "Roboto", sans-serif;
    font-size:16px;
}

.container{ /* kaikkien muiden kuin etusivun sisältö*/
    text-align:left;
    max-width:850px;
    color:rgb(20, 20, 20);
    
}
.container2{ /* historia-sivun erikoisuus*/
    text-align:right;
    max-width:850px;
    color:rgb(20, 20, 20);
    
}

.row
{
    max-width: 1900px;
    margin: auto;
}

.hero
{
    position: absolute;
    max-width: 830px;
    margin-left: 80px;
    margin-top: 0px;
    padding-left:20px;
    text-align:justify;
    color:white;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align:justify;
    margin-top: 275px;
    padding-bottom:20px;
}

h2{ /*kaikkien muiden kuin etusivun otsikko*/
    font-size:58px;
    color:rgb(20, 20, 20);
    margin-top:50px;
    padding-bottom:15px;
}

h3{ /*väliotsikot*/
    font-size:42px;
    color:rgb(20, 20, 20);
    margin-top:50px;
    padding-bottom:15px;
}

.button
{
    margin-top: 100px;
    margin-left: 480px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 14px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}
.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.2s ease-in;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-two:hover
{
background-color: darkorange;
transition: all 0.2s ease-in;
}